/* *{
    border: groove;
} */

.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid img{
    border: 2px groove black;
    border-radius: 50px;
    /* flex-wrap: wrap; */
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    /* width: 310px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .camel{
    display: flex;
    flex-direction: column;
}

.chameleon{
    display: flex;
    flex-direction: column;
} */